<%- include('../partials/header') %>
  
  <form action="/lists" method="POST">
    <label>List Title:</label>
      <input type="text" name="title">
    <label>Category:</label>
      <input type="text" name="category">
    <label>Content:</label>
      <input type="text" name="content">
    <input type="submit" value="Add Post">
  </form>

<%- include('../partials/footer') %>