    
    
            </div>
            <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">About</h4>
                    <p class="mb-0">This is a place to blog your experience and learnings, during your bootcamp journey.</p>
                </div>
                <div class="p-4">
                    <h4 class="font-italic">Popular Blogs</h4>
                    <ol class="list-unstyled mb-0">
                    <li><a href="#">HTML - 101</a></li>
                    <li><a href="#">CSS Sucks</a></li>
                    <li><a href="#">My Code Challenge Challenges</a></li>
                    <li><a href="#">Should I Quit</a></li>
                    </ol>
                </div>
                <div class="p-4">
                    <h4 class="font-italic">Links</h4>
                    <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">GA</a></li>
                    </ol>
                </div>
            </aside>
        </div><!-- /.row -->
    </main>

</body>
</html>