<%- include('partials/header') %>

  <h1><%= title %></h1>
  <p>Welcome to LAB. This is a place to blog about your bootcamp experience. Here you can post about a new JS trick you just learnt or about why you hate CSS so much.</p>

<%- include('partials/footer') %>