a {
  color: #00B7FF;
}
body {
  margin: 0;
  padding: 50px;
  font: 14px "Times New Roman", Times, serif;
  height: 100vh;
}
.blog-header-logo{
  color: black;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
}